@using PetShop.Models;
@using PetShop.Models.Enums;
@using PetShop.Blazor.Shared.DTO.Pet;

@page "/pet"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

@if (isLoading)
{
    <Spinner />
}
else
{

    <PageTitle>Pets - Pet Shop Retail System</PageTitle>

    <h1 class="mb-5">Pets</h1>

    <button class="btn btn-primary mb-5" @onclick="CreateItem">Add new pet</button>

    <div class="table-responsive">

        <table class="table table-dark table-striped">

            <thead>

                <tr>
                    <th>Breed</th>
                    <th>Animal Type</th>
                    <th>Pet Status</th>
                    <th>Price</th>
                    <th>Cost</th>
                    <th>Actions</th>
                </tr>

            </thead>

            <tbody>

                @foreach (var pet in pets)
                {
                    <tr>
                        <td>@pet.Breed</td>
                        <td>@pet.AnimalType</td>
                        <td>@pet.PetStatus</td>
                        <td>@pet.Price</td>
                        <td>@pet.Cost</td>
                        <td>
                            <button class="btn btn-warning" @onclick="()=> EditItem(pet)">Edit</button>
                            <button class="btn btn-danger" @onclick="()=> DeleteItem(pet)">Delete</button>
                        </td>
                    </tr>

                }

            </tbody>

        </table>

    </div>

}

@code {
    private List<PetDto> pets = new();

    bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();
        isLoading = false;
    }

    private async Task LoadItemsFromServer()
    {
        pets = await httpClient.GetFromJsonAsync<List<PetDto>>("pet");
    }

    private void CreateItem()
    {
        navigationManager.NavigateTo("pet/edit");
    }

    private void EditItem(PetDto pet)
    {
        navigationManager.NavigateTo($"pet/edit/{pet.Id}");
    }

    private async Task DeleteItem(PetDto pet)
    {
        var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Delete Item. Are you sure?");
        if (confirm)
        {
            var response = await httpClient.DeleteAsync($"pet/{pet.Id}");
            response.EnsureSuccessStatusCode();
            await LoadItemsFromServer();
        }
    }
}
