@page "/monthlyLedger"
@using FuelStation.Web.Blazor.Shared.DTO;
@using FuelStation.Web.Blazor.Shared;
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@using System.Text.Json;
@using System.Text.Json.Serialization;


@if (loading)
{
    <div class="spinner-grow" role="status">
        <span class="sr-only"></span>
    </div>
}
else
{

    <PageTitle>Fuel Station Monthly Ledger - Fuel Station Retail System</PageTitle>

    <h1 class="mb-5">Fuel Station Monthly Ledger</h1>

    <div class="table-responsive">

        <table class="table table-dark table-striped">

            <thead>
                <tr>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Income</th>
                    <th>Expenses</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in ledger)
                {
                    <tr>
                        <td>@item.Year</td>
                        <td>@item.Month</td>
                        <td>@item.Income</td>
                        <td>@item.Expenses</td>
                        <td>@item.Total</td>
                    </tr>
                }
            </tbody>

        </table>

        <EditForm Model="rents" OnValidSubmit="OnUpdate">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-md-6">
            <label class="form-label">Rent Cost</label>
            <InputNumber class="form-select" @bind-Value=@rent.monthlyRent>
            </InputNumber>
        </div>

            <div class="col-md-6">
                <button class="btn btn-success" type="submit">Update</button>
            </div>

    </EditForm>
    </div>

}

@code {
    private Serializer serial = new Serializer();
    private List<MonthlyLedgerDto> ledger = new();
    public Rent rent = new();
    public List<Rent> rents = new();

    bool loading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        if (ledger == null)
        {
            throw new ArgumentNullException();
        }
        await LoadItemsFromServer();
        loading = false;
    }

    private async Task LoadItemsFromServer()
    {
        ledger = await httpClient.GetFromJsonAsync<List<MonthlyLedgerDto>>("monthlyledger");
    }

    private async void OnUpdate()
    {
        rents.Add(new Rent()
            {
                monthlyRent = rent.monthlyRent
            });
        await httpClient.PutAsJsonAsync<List<Rent>>("monthlyledger", rents);
    }
}
