@page "/employee/detail/{id:int?}"

@inject HttpClient httpClient
@inject NavigationManager navigationManager

@if (loading)
{
    <Spinner />
}
else
{
    <PageTitle>Employee @Employee.Name @Employee.Surname - Pet Shop Retail System</PageTitle>

    <h1 class="mb-5">Details for employee: @Employee.Name @Employee.Surname</h1>

    <div class="row mb-5">
        <div><strong>Employee type:</strong> @Employee.EmployeeType</div>
        <div><strong>Salary per month:</strong> @Employee.SalaryPerMonth</div>
    </div>

    <h2 class="mb-3">Transactions</h2>

    <div class="table-responsive">

        <table class="table table-dark table-striped">

            <thead>
                <tr>
                    <th>Transaction Date</th>
                    <th>Transaction Total Price</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var trans in Employee.Transactions)
                {
                    <tr>
                        <td>@trans.Date</td>
                        <td>@trans.TotalPrice</td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

    <button class="btn btn-secondary" @onclick="OnCancel">Back</button>
}

@code {

    bool loading { get; set; } = true;

    [Parameter] public int? Id { get; set; }

    EmployeeEditDto? Employee { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Employee = await httpClient.GetFromJsonAsync<EmployeeEditDto>($"employee/{Id}");
        loading = false;
    }

    private void OnCancel()
    {
        navigationManager.NavigateTo("employee");
    }

}